* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, JetBrains Mono, Menlo, Consolas, Helvetica Neue, PingFang SC, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

.content {
    width: 300px;
    padding: 20px;
    background: url(../images/gitee.svg) center center no-repeat #fff;
    background-size: contain;
}

.login {}

.row {
    overflow: hidden;
    margin: 20px 0 0 0;
}

.row label {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
}

.row .input {
    outline: none;
    border: solid 1px #ccc;
    float: left;
    width: 158px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.row .checkbox {
    height: 30px;
}

.input.error {
    border: solid 1px #c00;
}

.tip {
    position: absolute;
    margin: 0 0 0 100px;
    color: #c00;
    font-size: 12px;
}

.btn {
    float: left;
    border: solid 1px #ccc;
    height: 30px;
    line-height: 30px;
    width: 90px;
    text-align: center;
    color: #000;
    background: #fff;
    margin-left: 35px;
}

.btn:hover {
    border: solid 1px #ccc;
    background: #ccc;
}

.btn.primary {
    border: solid 1px #0883d0;
    background: #0883d0;
    color: #fff;
}

.btn.primary:hover {
    border: solid 1px #045180;
    background: #045180;
}
